/.idea/
/data/
/_tmp/
/build/
/dist/
/tests/chosen_data/
/tests/data/
/tests/exp/
/tests/models/
/docs/2017_Painter_Johnston_Mastering_Go_Paper.pdf
/docs/Mastering_the_game_of_Go_with_deep_neural_networks.pdf
/tests/ac_trainer.log
/dlgo.egg-info/dependency_links.txt
/exp/exp5_rl_bs19_1000.h5
/exp/exp_5000e_bs5_agent_critic_3padreg_v3.h5
/tests/kgs_index.html
/dlgo.egg-info/PKG-INFO
/dlgo.egg-info/SOURCES.txt
/dlgo.egg-info/top_level.txt
/exp/zero_v1.h5
